-p
abstra.to
-a
../artwork.svg
--description-template-html
page.thtml
--description-template
page.ttxt
--excerpt
excerpt.ttxt
--server-folder
abstrato-test.alkalay.net:www/alkalay.net/media.test/
--wordpress-url
https://abstrato-test.alkalay.net/xmlrpc.php
--wordpress-user
podcaster
--wordpress-pass
abc123xyz456
